*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 1in;
    background-image: linear-gradient(rgba(162, 155, 155, 0.099), rgba(121, 113, 113, 0.619)), url(background.jpeg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    color: black;
}
/* This is title and scoreboard */
.scoreboard{
color: white;
font-family: indie flower;
font-size: 150%;
position: center;
text-align: center; 
}
.scorecontainer{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
#tie-score{
    padding-left: 5%;
    padding-right: 5%;
}
#player-turn-style{
    color: white;
font-family: indie flower;
font-size: 150%;
position: center;
text-align: center; 
}

/* This is the tic-tac-toe board */
table
{
    border-collapse: collapse;
    margin: 0 auto;
}
td
{
    font-size: 250%;
    font-family: indie flower;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: aliceblue;
}

